@{
    Layout = "_Layout";
}

<h1>Name Your Tamagotchi!</h1>
<form action="/game" method="post">
<div class="form-group">
    <label for="new-name">A name</label>
    <input id="new-name" name="new-name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Tamagotchi!</button>
</form>