@{
    Layout = "_Layout";
}

<div>
    <h1>@Model.Name</h1>
</div>
<div class="row">
    <div class="col">
        @{
            if(Model.CheckIfDead() == true)
            {
                <img src="http://www.ricedigital.co.uk/wp-content/uploads/2015/08/tumblr_np6qh5cjLo1u3e4cro1_r1_500.gif">
                <h3>Pet Status: <span id="dead">Dead</span></h3>
            }
            else
            {
                <img src="https://vignette.wikia.nocookie.net/pokemon/images/a/a0/Flareon-AttackAnimation-XY-2.gif/revision/latest?cb=20160822140906">
                <h4>Hunger: @Model.Hunger</h4>
                <h4>Energy: @Model.Energy</h4>
                <h4>Happiness: @Model.Happiness</h4>

                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" href="/feed" role="button">Feed</a>
                        <a class="btn btn-primary" href="/play" role="button">Play</a>
                        <a class="btn btn-primary" href="/sleep" role="button">Sleep</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
