@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
           <img src="https://media0.giphy.com/media/KZdMTK0ukoOis/giphy.gif">
           <div class="card-body">
                <h5 class="card-title">You played with your pet!</h5>
                <a class="btn btn-primary" href="/game" role="button">Back</a>
           </div>
        </div>
    </div>
</div>
