@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
           <img src="https://media2.giphy.com/media/BQbFLNzq25KOQ/giphy.gif">
           <div class="card-body">
                <h5 class="card-title">Your pet slept</h5>
                <a class="btn btn-primary" href="/game" role="button">Back</a>
           </div>
        </div>
    </div>
</div>